<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/contact_us.css">
    
    <title>Contact Us</title>
</head>

<body>
    {% include "header.html" %}

    <main>
        <link rel="stylesheet" href="cont.css">
        <div class="container">
            <div style="text-align:center">
                <h2>Contact Us</h2>
                <p>support us in our journey or leave us a message:</p>
            </div>
            <div class="row">
                <div class="column">
                    <img src="/w3images/map.jpg" style="width:100%">
                </div>
                <div class="column">
                    <p>

                        Email: your@email.com
                        Additional Information:

                        Phone: bhar dena isse
                        Address: isse bhi
                        Feel free to connect with us.
                        We appreciate your feedback and will get back to you as soon as possible.

                        Thank you!</p>
                </div>
            </div>
        </div>
    </main>

    {% include "footer.html" %}
</body>

</html>