<link rel="stylesheet" href="/static/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

<footer>
    <div class="footer-row">
        <div class="footer-col">
            <h4>Info</h4>
            <ul class="links">
                <li><a href="/about_us/">About Us</a></li>
                <li><a href="/faq/">FAQs</a></li>
                <li><a href="/why_us/">Why Us?</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="/contact_us/">Contact-Us</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Explore</h4>
            <ul class="links">
                <li><a href="/delete/">Delete The Saved data</a></li>
                <li><a href="#">make your own key</a></li>
                <li><a href="#">Themes</a></li>
                <li><a href="#">Popular Designs</a></li>
                <li><a href="#">whats new?</a></li>
                <li><a href="#">New Uploads</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Legal</h4>
            <ul class="links">
                <li><a href="#">Customer Agreement</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">GDPR</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Media Kit</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Newsletter</h4>
            <p>
                support us!!..to help us grow!
            </p>
            <form >
                <input type="text" placeholder="Your email" required>
                <button type="submit">support</button>
            </form>
            <div class="icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
    </div>
</footer>