main {
    margin-top: 100px;
    /* height: 1000px; */
    margin-bottom: 280px;
    margin-left: 20px;
    margin-right: 20px;
}

.inst {
    margin-top: 20px;
    border: 2px;
    border-radius: 5px;
    border-style: double;
    padding-left: 20px;
    background:linear-gradient(45deg, #b3b8d3be 25%, #4c4e519e 25%, #767aa717 50%, #324b4bcf 50%, #7f7171c0 75%, #b0adadd6 75%, #534b4bd7 100%);
    /* background: linear-gradient(45deg, #ffffffbe 25%, #ccccccb8 25%, #ccccccaf 50%, #ffffffcf 50%, #ffffffc0 75%, #ccccccd6 75%, #ccccccd7 100%); */
    /* background-size: 20px 20px; */
    /* Adjust the size of the pattern */
    /* font-family: Arial, sans-serif; */
    color: #ffffff;
}

.inst ul {
    list-style: disc;
}

.inst a {
    color: rgb(212, 65, 65);
    text-decoration: none;
}

fieldset {
    background-color: white;
    color: black;
}

/* body{
    background-color: rgb(199, 200, 211);
} */
body {
    background: linear-gradient(45deg, #000 25%, #504f4f 25%, #383b4a 50%, #f4f2f2 50%, #0e3079 75%, #333 75%, #060000 100%);
    /* background-size: 4px 4px; */
    /* Adjust the size of the pattern */
    font-family: Arial, sans-serif;
    color: #fff;
    /* margin: 0;
    padding: 0; */
    /* overflow: hidden; */
}

.grid1 {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    margin: 200px 0px;
}

.box {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #37518751;
    color : white;
    align-content: center;
    border-style: groove;
    border-color: white;
    line-height: 30px;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.box:hover {
    box-shadow: 5px 5px 5px rgba(240, 237, 237, 0.735);
}

.image {
    margin-left: 40px;
    margin-top: 40px;
    height: fit-content;
    border-radius: 9px;
    margin-bottom: 0;
    margin-right: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.1);
}